*.py[cod]
VERSION
.env
ve/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
*.log
*.prof

# Translations
*.mo

# Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder files
Icon?
._*

# macOS resource forks
.Spotlight-V100
.Trashes
.VolumeIcon.icns
com.apple.timemachine.donotpresent

# macOS folder settings
.metadata_never_index
.fseventsd

